---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  labels:
    app: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: backend:latest   # 
          imagePullPolicy: Never
          ports:
            - containerPort: 9001
          livenessProbe:
            httpGet:
              path: /
              port: 9001
            initialDelaySeconds: 600
            periodSeconds: 20
          readinessProbe:
            httpGet:
              path: /
              port: 9001
            initialDelaySeconds: 5
            periodSeconds: 10


---
apiVersion: v1
kind: Service
metadata:
  name: backend-nodeport
spec:
  type: LoadBalancer
  selector:
    app: backend
  ports:
    - name: http
      port: 30091 #9001
      targetPort: 9001
      #nodePort: 30091    # free port > 30000
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  labels:
    app: frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: frontend:latest   # <-- If local, use Minikube's docker-env or push to registry.
          imagePullPolicy: Never
          ports:
            - containerPort: 9000
          # frontend waits for backend via readiness probe automatically
          env:
            - name: BACKEND_URL
              value: "http://localhost:30091"

---
apiVersion: v1
kind: Service
metadata:
  name: frontend-nodeport
spec:
  type: LoadBalancer
  selector:
    app: frontend
  ports:
    - name: http
      port: 30090 #9000
      targetPort: 9000
      #nodePort: 30090   # accessible externally at: <node-ip>:30090



# kubectl port-forward deployment/backend 30091:9001
# kubectl port-forward deployment/frontend 30090:9000