

services:
  backend:
    container_name: backend
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "9001:9001"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9001"]
      interval: 20s
      timeout: 5s
      retries: 3
    networks:
      - appnet


  frontend:
    container_name: frontend
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "9000:9000"
    depends_on:
      backend:
        condition: service_healthy
    networks:
      - appnet

networks:
  appnet:
    driver: bridge
