accelerate==1.10.1
appdirs==1.4.4
atomicwrites==1.4.0
hf-xet==1.1.10
huggingface-hub==0.35.3
matplotlib==3.10.6
peft==0.17.1
pybase64==1.4.2
PyQt5==5.15.10
safetensors==0.6.2
setuptools==72.1.0
tokenizers==0.22.1
torch==2.9.0
torchvision==0.24.0
transformers==4.57.1
wheel==0.45.1
